<%- include('./partials/head.ejs') %>
<div class="leaderboard">
    <p>Leaderboard</p>
</div>
<div class="city-box city-left">
    <div class="flag">
    <img src="./img/<%= imgOne %>" alt="Vlag van Nederland">
</div>
    <h2><%= cityOne %></h2>
</div>
<div id="countdown"><p>30</p></div>
<div class="vs-circle"><p>VS</p></div>
<div class="city-box city-right">
    <div class="flag">
    <img src="./img/<%= imgTwo %>" alt="Vlag van Japan">
</div>
    <h2><%= cityTwo %></h2>
</div>
<div class="chat">
    <div id="messages"></div>
    <form id="sendMessage" action="">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form>
</div>
<%- include('./partials/footer.ejs') %>