<%- include('./partials/head.ejs') %>
<div id="change_username">
<form id="changeUsername" action="">
    <input id="u" autocomplete="off" /><button>Set username</button>
</form>
<form id="chooseMap">
    <label><input type="checkbox" value="world" disabled checked>Wereld</label>
    <label><input type="checkbox" value="africa" disabled>Afrika</label>
    <label><input type="checkbox" value="asia" disabled>Azië</label>
    <label><input type="checkbox" value="europe" disabled>Europa</label>
    <label><input type="checkbox" value="n-america" disabled>Noord-Amerika</label>
    <label><input type="checkbox" value="s-america" disabled>Zuid-Amerika</label>
    <label><input type="checkbox" value="oceanie" disabled>Oceanië</label>
</form>
<p id="playerCount">0 spelers</p>
<button id="play">Play</button>
</div>
<!-- GAME -->
<div id="game" class="d-none">
    <div class="leaderboard">
        <p>Leaderboard</p>
        <ul id="js-leaderboard"></ul>
    </div>
    
    <div class="city-box city-left center">
        <div class="flag">
        <img id="cityaimg" src="<%= imgOne %>" onerror="this.onerror=null;this.src='./img/Amsterdam.svg';" />
        <%#  %>
    </div>
        <h2 id="cityaname"><%= cityOne %></h2>
        <h2 id="tempA"></h2>
    </div>
    <div id="countdown" class="center"><p>15</p></div>
    <div class="vs-circle center"><p>VS</p></div>
    <div class="city-box city-right center">
        <div class="flag">
            <img id="citybimg" src="<%= imgTwo %>" onerror="this.onerror=null;this.src='./img/Amsterdam.svg';" />
    </div>
        <h2 id="citybname"><%= cityTwo %></h2>
        <h2 id="tempB"></h2>
    </div>
    <div class="chat">
        <div id="messages"></div>
        <form id="sendMessage" action="">
            <input id="m" autocomplete="off" /><button>Send</button>
          </form>
    </div>
    </div>
<%- include('./partials/footer.ejs') %>