<%- include('./partials/head.ejs') %>
<div id="change_username">
<form id="changeUsername" action="">
    <input id="u" autocomplete="off" /><button>Set username</button>
</form>
<p id="playerCount">0 spelers</p>
<button id="play">Play</button>
</div>
<div id="game" class="d-none">
    <div class="leaderboard">
        <p>Leaderboard</p>
        <ul id="js-leaderboard"></ul>
    </div>
    
    <div class="city-box city-left center">
        <div class="flag">
        <img id="cityaimg" src="<%= imgOne %>" onerror="this.onerror=null;this.src='./img/Amsterdam.svg';" />
        <%#  %>
    </div>
        <h2 id="cityaname"><%= cityOne %></h2>
        <h2 id="tempA">Temperatuur</h2>
    </div>
    <div id="countdown center"><p>30</p></div>
    <div class="vs-circle center"><p>VS</p></div>
    <div class="city-box city-right center">
        <div class="flag">
            <img id="citybimg" src="<%= imgTwo %>" onerror="this.onerror=null;this.src='./img/Amsterdam.svg';" />
    </div>
        <h2 id="citybname"><%= cityTwo %></h2>
        <h2 id="tempB">Temperatuur</h2>
    </div>
    <div class="chat">
        <div id="messages"></div>
        <form id="sendMessage" action="">
            <input id="m" autocomplete="off" /><button>Send</button>
          </form>
    </div>
    </div>
<%- include('./partials/footer.ejs') %>